*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.nav{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-around;
    padding: 0.7rem 0;
}

.head-logo{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}

.head-logo img{
    width: 3rem;
}

.nav-items{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}

.nav-items ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-items ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items ul li a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
}
.nav-items a:hover{
    color:#fe7707
}

.nav-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbtns-img{
    display: flex;
    /* border: 2px solid red; */
}

.navbtns-img img{
    width: 2rem;
    margin: 0rem 0.5rem;
    padding: 0.1rem;
}

/* Landing Page */

.landing{
    background: url(veg.jpeg) center center no-repeat;
    background-size: cover;
}

.landing-content{
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-content span{
    color: #fe7707;
}

.landing-content button{
    background: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}
.blogs{
    text-align: center;
    margin: 1rem;
}
.blogH1{
    padding: 10px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    display: inline;
}
.parentCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}
.card{
    text-align: left;
}
.btn-my{
    background-color: white;
    padding: 6px 8px;
    color: orange;
    border: 2px solid orange;
}
.btn-my:hover{
    background-color: orange;
    color: white;
}
.footer{
    background-color: rgb(221, 218, 218);
    max-width: 100vw;
    height: 300px;
    display: flex;
    background-color: rgb(205, 205, 205);
    justify-content: space-around;
    margin-top: -16px;
}
li{
    list-style: none;
}
i{
    width: 20px;
}